
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');
*{
    margin:0;padding:0;text-decoration: none;list-style:none;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

body{
    background: #ececec;
    position:relative;
    overflow-x: hidden;
}
.sticky_zone{
    position:relative;
    height:100vh;
}
.dark{
    position:fixed;
    width:100%;height:100vh;
    background-color: #000;
    z-index:10;
    animation: dark 3s forwards;
    animation-delay: 2s;
    @keyframes dark {
        80%{opacity: 0;}
        100%{opacity: 0; z-index:-1;}
    }
}
.main{
    display: block;
    position: relative;
    .left_wrap{
        position:sticky;
        top:0;
        width:50vw;
        height:100vh;
        ul{
            width:100%;
            position:absolute;
            display: flex;
            justify-content: flex-end;
            .white{
                z-index:9;
                background-color: #ececec;
                position: absolute;
                left:0;
                width:70%;height:100vh;
                animation: white1 2s forwards;
                animation-delay: 3s;
                animation-delay: 3.5s;
            }
            .intro_1{
                background-image: url(https://kyohyunkim.github.io/northface/img/intro_img1.jpg);
                background-repeat: no-repeat;
                width:100%;height:0vh;
                animation: intro_1 2s forwards;
                animation-delay: 3s;
            }
            .intro_2{
                background-image: url(https://kyohyunkim.github.io/northface/img/intro_img2.jpg);
                background-repeat: no-repeat;
                width:80px;height:0vh;
                animation: intro_2 2s forwards;
                animation-delay: 3.3s;
            }
            .intro_3{
                background-image: url(https://kyohyunkim.github.io/northface/img/intro_img3.jpg);
                background-repeat: no-repeat;
                width:50px;height:0vh;
                animation: intro_3 2s forwards;
                animation-delay: 3.5s;
            }
            @keyframes white1 {
                0%{width:70%;animation-timing-function: cubic-bezier(1,0,0.8,1);}
                50%{width:70%;animation-timing-function: cubic-bezier(1,0,0.8,1);}
                100%{width:0%;animation-timing-function: cubic-bezier(1,0,0.8,1);}
            }
            @keyframes intro_1 {
                0%{height:0vh;filter:brightness(200%);animation-timing-function: cubic-bezier(1,0,0.8,1);}
                50%{height:100vh;filter:brightness(100%);animation-timing-function: cubic-bezier(1,0,0.8,1);}
                100%{height:100vh;filter:brightness(100%);animation-timing-function: cubic-bezier(1,0,0.8,1);}
            }
            @keyframes intro_2 {
                0%{width:80px;height:0vh;filter:brightness(200%);animation-timing-function: cubic-bezier(1,0,0.8,1);}
                50%{width:80px;height:100vh;filter:brightness(100%);animation-timing-function: cubic-bezier(1,0,0.8,1);}
                100%{width:0px;height:100vh;filter:brightness(200%);animation-timing-function: cubic-bezier(1,0,0.8,1);}
            }
            @keyframes intro_3 {
                0%{width:50px;height:0vh;filter:brightness(200%);animation-timing-function: cubic-bezier(1,0,0.8,1);}
                50%{width:50px;height:100vh;filter:brightness(100%);animation-timing-function: cubic-bezier(1,0,0.8,1);}
                100%{width:0px;height:100vh;filter:brightness(200%);animation-timing-function: cubic-bezier(1,0,0.8,1);}
            }
        }
    }

    .right_wrap{
        height: 2600px;
        .sec_1{
            position:absolute;
            top:45vh;left:50vw;
            margin-left:6.6vw;
            .logo{position:absolute;width:185px;height:109px;}
            .invisi{
                position:absolute;top:220px;
                z-index:11;opacity: 0;
                animation: invisiAni 3s forwards;
                img{width:132px; height:25px;}
            }
            @keyframes invisiAni {
                100%{opacity: 1;}
            }

            .scroll{
                width:1px; height:100px;
                background-color: #bfbfbf;
                position: absolute;
                top:298px;
                overflow: hidden;
                &::after{
                    content:"";
                    position:absolute;
                    background-color: #000;
                    width:1px; height:0px;
                    animation:scrollAni 1.5s infinite;
                }
                @keyframes scrollAni{
                    40%{height:100px;top:0;animation-timing-function: cubic-bezier(1,0,0.8,1);}
                    80%{height:100px;top:100px;animation-timing-function: cubic-bezier(1,0,0.8,1);}
                    100%{height:100px;top:100px;animation-timing-function: cubic-bezier(1,0,0.8,1);}
                }
            }
        }
    }

    .sec_2{
        height: 1600px;
        padding:0 0 0 57vw;
        .txt_1{
            position: absolute;
            padding-top:100px;
            font-weight: 400;
            font-size: .8rem;
            letter-spacing: .02em;
            z-index: 3;
            span{
                display: block;
                padding-bottom:30px;
                line-height: 22px;
                img{width:157px;padding-top:80px;}
            }
        }
        .txt_2{
            position: absolute;
            padding-top:110vh;
            font-weight: 400;
            font-size: .8rem;
            letter-spacing: .02em;
            z-index: 3;
            span{
                line-height: 22px;
                display: block;
                padding-bottom:30px;
            }
            .invisi{
                img{width:132px; height:25px;padding-bottom: 50px;}
            }
            .undyed{
                padding-top:80px;padding-bottom: unset;
                img{width:157px;}
            }
        }
        
        .hoody{
            position: sticky; 
            top:200px;right:0%;
            img{
                position: absolute;left:260px;
                width:322px; 
            }
            .item{
                animation:item1 2s infinite;
                animation-timing-function: linear;
            }
            .shadow{
                animation:shadow1 2s infinite;
                animation-timing-function: linear;
                transform: translate(50px,50px,);opacity: .3;
            }
            @keyframes item1{
                0%{transform: translate(0px,0px);}
                50%{transform: translate(-5px,-5px);}
                100%{transform: translate(0px,0px);}
            }
            @keyframes shadow1{
                0%{transform: translate(50px,50px);}
                50%{transform: translate(55px,55px);}
                100%{transform: translate(50px,50px);}
            }
        }
    }
    
    .footer_north{
        position: absolute;
        left:50vw;
        margin-left:6.6vw;
        bottom:50px;
        img{width:158px;}
    }

    

}

    

.video{
    ul{
        width:100%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        height: 964px;
        background-color: #072030;
        li{
            video{
            width: calc(100vw / 3);
            margin:0; padding:0;
            }
        }
    }
}

.model{
    position:relative;
    .wrap{position:absolute;top:-150px;display: flex;}
    img{width:50vw;}
}